@charset "utf-8";
/* CSS Document */
			body {
				background-color: #cfb417;
				
				color: white;
				padding: 20px;
				font-family: Arial, Verdana, sans-serif;}
			
			
			h1 {
				background-color: DarkCyan;
				padding: ;
				text-align:center;
			}
			img {
  border: 5px solid #555;
}
			.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
			h2 {
				background-color: #ee3e80;
				padding: inherit;
			    text-align:center;<br>
			}
		
			p {
				background-color: #bl;
				background-color: hsla(0,100%,100%,0.5);
				color: #64645A;
				padding: inherit;}